nav{
    background-color:brown;
    max-width: 222px;
    border-radius: 20px;
    position: relative;
    top: 5px;
    left: 10px;
    color: brown;
    font-size: 15px;
    font-weight: 700;
}
#ul{
    background-color:rgb(249, 228, 151);
    border: 1px solid black;
    border-radius: 20px;
    list-style: none;
    line-height: 1.6;
    padding: 10px;
    width: 200px;
}
.list{
    position: relative;
    bottom: 8px;
    right: 8px;
}
form{
    position: relative;
    left:20px;
}
.e-mail{
    position: relative;
    top: 20px;
}
.mail{
    width: 290px;
}
.password{
    position: relative;
    top: 40px;
}
.password-input{
    width: 130px;
}
.repeat{
    position: relative;
    left: 180px;
}
.repeat-input{
    width: 130px;
}
.buttom{
    position: relative;
    top: 25px;
    background-color:rgb(240, 193, 76);
}
#h1_1{
    position: relative;
    left: 20px;
    top: 15px;
}

#main1{
    background-color: rgb(0, 121, 182);
    width: 394px;
    height: 254px;
    position: relative;  
    left: 10%;
    top: 200px;
    color: white;
}
section{
    background-color:rgb(6, 144, 207);
    width: 390px;
    height: 250px;
    position: relative;
    top: 2px;
    left: 2px;
}

#main2{
    max-width: 1920px;
}

.arrow-back{
    width: 100%;
}


#body1{
    padding: 20px;
    background-color: rgb(51, 51, 51);
}

.arrow-back{
    background-color: rgb(194, 225, 245);
    width: 1200px;
    height: 110px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50px;
}
.arrow-back:before {
    content: "";
    border: solid transparent;
    position: absolute;   
    bottom: 100%;
    left: 50%;
    border-bottom-color: rgb(194, 225, 245);
    border-width: 41px;
    margin-left: -41px;
} 
.arrow{
    background-color: rgb(136, 183, 213);
    width: 1190px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 5px;
}
.arrow:before{
    content: "";
    border: solid transparent;
    position: absolute;   
    bottom: 100%;
    left: 50%;
    border-bottom-color: rgb(136, 183, 213);
    border-width: 40px;
    margin-left: -40px;
}
#h1_2{
    color: white;
    position: relative;
    top: 30px;
}

#body2{
    background-color: rgb(74, 92, 110);
}
#ul2{
    background-color: white;
    border-radius: 10px;
    width: 900px;
    margin: 10px auto;
    box-shadow: 0px 0px 50px 5px rgb(15, 19, 24);;
}
#li2{
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
.virtual{
    border-right: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-right: 50px;
}
.server{
    border-left: 1px solid rgba(109, 109, 109, 0.849);
    margin: 10px auto;
    padding-left: 50px;
}
figcaption{
    color: darkorange;
}
p{
    text-align: center;
}



#body {
    display: flex;
    justify-content: center;
  }
  
  .menu-bar {
    border-radius: 25px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    margin: 50px 0 0 0;
  }
  .menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  .menu-bar li:hover {
    color: black;
  }
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
  a{
    color: white ;
    text-decoration: none
  }